html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.contenedor-tabla{
    border: 0.2em, solid, rgb(215, 44, 133);
    padding: 0.2em;
    overflow: scroll;
}

.tabla-alumnos{
    width: 100%;
    border-collapse: collapse;
    font-size:2em ;
    min-width:40em ;

   
}

.tabla-alumnos th,td{
    border: 0.2em, solid, purple;
    text-align: center;
    padding:0.2em;
}

.tabla-alumnos th{
    background-color: darkorchid;
    color:white;
}

.tabla-alumnos tr:hover{
    background-color: rgb(210, 167, 250);
}
.tabla-alumnos tr:nth-child(even){
    /*Esta pseudoclase selecciona todos los elementos de la tabla alumno pero solo los pares por el even*/
    background-color: rgb(209, 174, 255);
}