#encabezado{
    color:white;
    background-color: black;
}

.fondo--imagen{
    /*Background-image: Permite agregar las imagenes como fondo de un contenedor o elemento HTML, también se pueden agregar gradientes*/
    background-image:linear-gradient(to top, rgba(0, 0, 255, 0.351), rgba(128, 0, 128, 0.345)), url(../imagenes/minidinos.jpg);
    height: 500px;
    width: 500px;
    /*Bacground-size (cover, contain y width(px)-height(px)
    Va a especificar el tamaño de la imagen de fondo
    */
    background-size: 70px 70px;
    /*background-repeat(repeat, repeat-x,repeat-y, y no repeat
    Se aplica cuando la imagen es más pequeña que el contenedor*/   
    background-repeat: no-repeat;
    border: 5px,solid,indigo;

    /*background-position(top, bottom,left,right,center)
    Establece la posición inicial de la imagen en su contenedor*/ 
    background-position: center ;

    /*background-attachmente(scroll y fixed)
    Se utiliza para que la imagen se quede fija en su contenedor cuando unusuario se desplaza por la página*/
    background-attachment: scroll;
}
.fondo--imagen1{
    /*background: (image)(position) /(size)(repeat) (attachment) (color)*/
    height: 500px;
    width: 500px;
    background: url(../imagenes/burr-day.jpg) center / contain no-repeat scroll rgba(148, 10, 247, 0.167);
}