body{
    background-color: cornsilk;
}
article{
    background-color: rgb(253, 158, 255);
}
/*Las clases se utilizan cuando hay que reutilizar estilos que se repiten a lo largo de la página.
Los identificadores se utilizan cuando se quiere un estilo especifico que no se va a repetir en toda la página (a elementos o secciones que son únicos en nuestra página)
Se ocupan para navegar a secciones en nuestra misma página*/


.estilos-internos{
    background-color: cornflowerblue;
}

#encabezado{
    color:crimson
}